*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Roboto, sans-serif;
background-color: #c3bcbc;
}

header{
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    margin-left: 20px;
}

.container{
    max-width: 300px;
    width: 100%;
    margin-top: 300px;
    margin-left: 700px;
}

h1{
    font-size: 40px;
}

form{
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;

}
input{
    font-size: 15px;
    padding: 20px;
    margin-left:8px;
    background-color: #fff;

}

form button{
    font-size: 15px;
    padding: 20px;
    background-color: #fff;
    cursor: pointer;
}

ul{
    margin-left: 80px;
    font-size: 25px;
}

.riscado{
    text-decoration: line-through;
}